@media (max-width: 1399px) {
  .container-header {
    max-width: 100%;
    justify-content: center;
  }

  .logo-img {
    width: 80px;
    height: 80px;
  }

  .menu-link {
    margin-right: 13px;
    font-size: 16px;
  }
}

@media (max-width: 1139px) {
  .container-header {
    max-width: 100%;
    justify-content: center;
  }

  .menu-link {
    margin-right: 10px;
    font-size: 15px;
  }

  .wrap-menu-address {
    margin-left: 20px;
  }

  .spec-find-text {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 12px;
  }
  .container-header {
    max-width: 100%;
    justify-content: center;
  }

  .wrap-menu-address {
    margin-left: 20px;
  }

  .menu-link {
    margin-right: 10px;
    font-size: 14px;
  }

  .social-item {
    font-size: 19px;
  }

  .last-col {
    padding-left: 10px;
  }

  .lang-link {
    font-size: 15px;
  }

  .antal-links {
    font-size: 15px;
  }

  .request-button a {
    width: 200px;
    font-size: 16px;
  }
  .adress-item {
    margin-right: 40px;
  }

  .find-vacancies-right-image {
    width: calc(50% - 20px);
  }
  .find-vacancies-wrap {
    gap: 40px;
  }

  .last-reviews-block {
    display: none;
  }

  .reviews-block {
    width: calc(50% - 20px);
  }
}

@media (max-width: 991px) {
  .home {
    padding: 40px 0;
    min-height: unset;
  }
  .slider-heading {
    font-size: 45px;
    line-height: 1.2;
  }
  .slider-text + * {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  .container-header {
    max-width: 100%;
    justify-content: center;
  }

  .container-small {
    padding: 0 20px;
  }

  .header-row {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .menu-link {
    margin-right: 8px;
  }
  .wrap-menu-address {
    flex-grow: 2;
  }

  .adress-col {
    margin-bottom: 0;
  }

  .socials-col,
  .lang-links,
  .menu-col,
  .request-button {
    display: none;
  }

  .industries-wrap {
    flex-direction: column;
  }

  .industries-title-col {
    width: 100%;
    margin-right: 0;
  }

  .industries-block {
    height: 200px;
    justify-content: space-between;
  }

  .industries-blocks-col {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .industries-block-title {
    font-size: 20px;
  }

  .small-icon {
    font-size: 40px;
  }

  .find-spec-step {
    width: calc(50% - 10px);
  }

  .find-vacancies-right-image {
    width: calc(50% - 20px);
  }
  .find-vacancies-wrap {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .adress-col {
    margin-bottom: 0;
  }

  .socials-col,
  .lang-links,
  .menu-col,
  .request-button {
    display: none;
  }

  .h3-title {
    font-size: 28px;
  }

  .left-list {
    margin-right: 40px;
  }
  .industries-title-col {
    width: 100%;
    margin-right: 0;
  }
  .industries-block {
    width: calc(50% - 10px);
  }

  .industries-blocks-col {
    width: 100%;
    display: flex;
  }

  .industries-block-title {
    font-size: 20px;
  }

  .partner-blocks {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .partner-block {
    width: 100%;
  }

  .partner-block:last-child {
    display: none;
  }

  .small-icon {
    font-size: 40px;
  }
  .spec-find-text {
    width: 80%;
  }

  .spec-find-h1 {
    font-size: 32px;
  }

  .find-spec-btn {
    font-size: 15px;
  }

  .form-field-white {
    margin-right: 10px;
  }

  .find-vacancies-right-image {
    width: calc(50% - 20px);
  }
  .find-vacancies-wrap {
    gap: 40px;
  }

  .partner-title {
    font-size: 28px;
  }

  .achiv-step-title {
    font-size: 60px;
  }

  .achivements-step {
    width: calc(33.33% - 15px);
  }
  .article-block-btm-wrap {
    justify-content: flex-end;
  }
  .article-title {
    font-size: 28px;
  }

  .article-desc-wrap {
    display: none;
  }
  .article-block {
    padding: 20px;
  }

  .reviews-blocks {
    flex-wrap: wrap;
  }

  .reviews-block {
    display: none;
  }

  .reviews-block:first-child {
    display: flex;
    width: 100%;
  }

  .footer-top-wrap {
    flex-direction: column;
  }

  .footer-btm-left {
    flex-direction: column;
    gap: 10px 0;
  }

  .footer-socials-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-social-item {
    font-size: 22px;
    margin-right: 20px;
  }

  .footer-social-item:last-child {
    margin-right: 0;
  }

  .footer-btn {
    width: auto;
  }
}

@media (max-width: 620px) {
  .wrap-menu-address {
    flex-grow: 2;
  }

  .adress-col {
    margin-bottom: 0;
  }

  .socials-col,
  .lang-links,
  .menu-col,
  .request-button {
    display: none;
  }

  .activities-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .activities-left-col {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .activities-right-col {
    width: 100%;
  }

  .industries-wrap {
    flex-direction: column;
  }

  .industries-title-col {
    width: 100%;
    margin-right: 0;
  }

  .industries-blocks-col {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .industries-block-title {
    font-size: 20px;
  }

  .small-icon {
    font-size: 40px;
  }

  .find-spec-step {
    width: 100%;
    margin-right: 0;
  }

  .spec-find-form-wrap {
    height: auto;
  }
  .find-spec-form {
    flex-direction: column;
  }
  .form-field-white {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .white-btn {
    width: 100%;
  }

  .adress-item {
    margin-right: 15px;
  }
  .spec-find-h1 {
    font-size: 32px;
  }

  .vacancy-title {
    font-size: 28px;
  }

  .achivements-steps-wrap {
    width: 100%;
  }
  .achivements-step {
    width: 100%;
  }

  .articles-wrap {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .article-block {
    width: 100%;
  }

  .article-block:last-child {
    display: none;
  }

  .find-vacancies-wrap {
    align-items: revert;
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .find-vacancies-right-block {
    width: 100%;
  }

  .find-vacancies-right-image {
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .lists-block-left {
    flex-direction: column;
  }

  .activities-list li {
    font-size: 16px;
  }

  .h1-title-white {
    font-size: 28px;
  }

  .h1-title {
    font-size: 24px;
  }

  .step-h1-white {
    font-size: 24px;
  }

  .slider {
    margin-bottom: 60px;
  }

  .find-spec-step {
    padding: 40px 80px 40px 40px;
  }

  .spec-find-h1 {
    font-size: 24px;
    line-height: 26.4px;
  }

  .spec-find-desc {
    font-size: 16px;
  }
  .slider-text > p {
    font-size: 18px;
    font-weight: 400;
  }

  .spec-find-form-wrap {
    padding: 20px;
  }
  .industries-wrap {
    gap: 20px;
  }

  .find-vacancies-wrap {
    padding: 20px;
    margin-bottom: 60px;
  }

  .find-spec-wrap {
    margin-top: 60px;
  }

  .find-spec-wrap {
    margin-bottom: 60px;
  }

  .find-vacancies {
    margin-top: 60px;
  }

  .vacancy-block {
    padding: 15px;
  }

  .vacancy-title {
    font-size: 20px;
  }

  .achievements {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .partners {
    margin-bottom: 60px;
  }

  .articles {
    margin-top: 60px;
  }

  .footer{
    margin-top: 60px;
  }
  .city-salary > span {
    font-size: 14px;
  }
  .footer-wrap {
    padding: 40px;
  }

  .footer-top-wrap {
    flex-direction: column-reverse;
  }
  .footer-socials-btn {
    margin: 20px 0;
    align-items: center;
  }
  .footer-bottom-wrap {
    margin-top: 30px;
    flex-direction: column;
  }

  .footer-social-item {
    font-size: 28px;
  }

  .footer-btm-left {
    margin-bottom: 20px;
  }
}

@media (max-width: 390px) {
  .footer-menu-wrap {
    flex-direction: column;
  }
  .spec-find-text {
    width: 100%;
  }

  .new-vacancies-wrap {
    flex-direction: column;
    width: 100%;
  }

  .vacancy-block {
    width: 100%;
    padding: 40px;
    box-shadow: 0px 0px 80px rgb(0 0 0 / 20%);
    border-radius: 10px;
  }

  .vacancy-title {
    font-size: 20px;
  }
  .achiv-step-desc {
    font-size: 18px;
  }
}
