@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri/Calibri.eot");
  src: url("../fonts/calibri/Calibri.eot?#iefix") format("embedded-opentype"),
    url("../fonts/calibri/Calibri.woff2") format("woff2"),
    url("../fonts/calibri/Calibri.woff") format("woff"),
    url("../fonts/calibri/Calibri.ttf") format("truetype"),
    url("../fonts/calibri/Calibri.svg#Calibri") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  color: #272727;
  font-family: "Calibri";
}

.form-text-field:focus::placeholder {
  opacity: 0;
}
.form-text-field::placeholder {
  color: #ffffff;
}

.vacancy-location {
  font-family: "Calibri" !important;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;
}

/* HEADER AND FOOTER CONTAINER*/

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 80px;
}

/* CONTENT PAGE CONTAINER*/
.container-small {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}

.white-btn {
  padding: 15px 45px;
  gap: 10px;
  width: 237px;
  height: 52px;
  background: #ffffff !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e3487;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.white-btn:hover {
  padding: 15px 45px;
  gap: 10px;
  background: #eae6f3 !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e3487;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.violet-btn {
  padding: 15px 45px;
  gap: 10px;
  width: 237px;
  height: 52px;
  background: #4e3487 !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.violet-btn:hover {
  padding: 15px 45px;
  background: #6b51a5 !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/*------- HEADER BLOCK -------*/

.header {
  background-color: #ffffff;
}

.header-row {
  display: flex;
  height: 127px;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
}

.logo-col {
  margin-right: 60px;
}

.header-right-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.header-top-col {
  display: flex;
  justify-content: flex-start;
}

.social-and-btn-wrap {
  display: flex;
  position: absolute;
  right: 0;
}

.header-bottom-col {
  display: flex;
  position: relative;
}

.lang-links {
  position: absolute;
  right: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #272727;
  background-color: inherit;
  font-family: inherit;
  margin-right: 15px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #4e3487;
  animation: fadeIn 0.7s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 25px 20px 20px;
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.dropdown-content a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 10px 0;
}

.dropdown-content a:hover {
  color: #4e3487;
  animation: fadeIn 1s;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.wrap-menu-address {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.adress-socials {
  display: flex;
  justify-content: space-between;
}

.socials-col {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.social-item {
  font-size: 22px;
  padding-right: 10px;
}

.adress-col {
  display: flex;
  margin-bottom: 25px;
}

.adress-list {
  display: flex;
  list-style: none;
}
.adress-city {
  font-weight: 700;
}
.adress-item {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.adress-item:last-child {
  margin-right: 0;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-link {
  margin-right: 30px;
  font-size: 16px;
}

.icon-menu-arr {
  font-size: 8px;
}

.menu-link :last-child {
  margin-right: 0;
}

.bottom-col {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.last-col {
  display: flex;
  align-items: flex-end;
  padding-left: 40px;
}

.request-button a {
  width: 213px;
  height: 52px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  color: #272727;
  border: 2px solid #4e3487;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
  margin-bottom: 11px;
}

.request-button a:hover {
  width: 213px;
  height: 52px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
  margin-bottom: 11px;
  background-color: #4e3487;
  color: #ffffff;
}

.antal-links {
  margin-right: 20px;
  font-size: 16px;
  color: #272727;
}

.lang-link {
  font-size: 16px;
  color: #272727;
}
/*------- END HEADER BLOCK -------*/

/*------- PAGE BLOCK -------*/

.page {
  display: flex;
  flex-direction: column;
}

/*------- END PAGE BLOCK -------*/

/*------- SLIDER BLOCK -------*/

.slider {
  position: relative;
  margin-bottom: 80px;
  padding-bottom: 100px;
}

.slider-content {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  padding: 80px 0 0 0;
}

.slider-heading {
  font-weight: 700;
  font-size: 62px;
  line-height: 68px;
  color: #ffffff;
}

.slider-heading + * {
  margin-top: 30px;
}

.slider-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

.slider-text + * {
  margin-top: 53px;
}

.slider-bg-img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 241, 229);
}

.slider-bg-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button-white {
  padding: 15px 45px;
  gap: 10px;
  width: 237px;
  height: 52px;
  background: #ffffff;
  border-radius: 5px;
  display: inline-block;
}
/*------- END SLIDER BLOCK -------*/

/*------- ACTIVITIES BLOCK -------*/
.activities {
  margin-bottom: 80px;
}

.activities-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.h1-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #272727;
  margin-bottom: 20px;
}

.h1-title-white {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 20px;
}
.h3-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
  margin-bottom: 20px;
}

.activities-lists-wrap {
  display: flex;
  justify-content: space-between;
}

.activities-list-item:hover {
  color: #4e3487;
  cursor: pointer;
  animation: fadeIn 1s;
}

.activities-list-item:hover::before {
  color: #4e3487;
  cursor: pointer;
  animation: fadeIn 1s;
  content: "—";
}

.activities-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 80px 40px 40px;
  gap: 10px;
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.activities-left-col {
  width: calc(66% - 10px);
}

.activities-right-col {
  width: calc(34% - 10px);
}

.lists-block-left {
  display: flex;
}

.left-list {
  margin-right: 140px;
}

.activities-list li {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
  margin-bottom: 15px;
}

/*------- END ACTIVITIES BLOCK -------*/

/*------- SPEC STEPS BLOCK -------*/

.find-spec-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  margin-top: 20px;

  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.purple-step {
  background: #4e3487 !important;
  color: #ffffff;
}
.step-h1-white {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;
  margin-bottom: 20px;
  display: flex;
}
.step-desc-white {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #ffffff;
}
.find-spec-step {
  padding: 200px 80px 40px 40px;
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgb(0 0 0 / 20%);
  border-radius: 10px;
  width: calc(33.33% - 15px);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.number-bg {
  font-weight: 400;
  font-size: 220px;
  color: #4e3487;
  opacity: 0.15;
  position: absolute;
  top: -49px;
  right: -30px;
}

.find-spec-step:last-child {
  margin-right: 0;
}

.top-find-spec,
.bottom-find-spec {
  display: flex;
}

.top-find-spec {
  margin-bottom: 20px;
}

.step-h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #272727;
  margin-bottom: 20px;
  display: flex;
}

.step-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #272727;
}

/*------- END SPEC STEPS BLOCK -------*/

/*------- FIND SPEC FORM BLOCK -------*/

.forms-bg-violet {
  background: linear-gradient(90deg, #4e3487 0%, #2e85aa 100%);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.spec-find-form-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 420px;
  padding: 90px 40px 40px 40px;
}

.spec-find-text {
  width: 45%;
}
.spec-find-h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 10px;
  display: flex;
}
.spec-find-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.find-spec-form-wrap {
  margin-top: 40px;
}
.form-field-white {
  padding: 15px 46px 15px 15px;
  height: 52px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

.find-spec-form {
  display: flex;
  gap: 20px;
}

.find-spec-field {
  width: calc(33.33% - 10px);
}

.find-spec-btn {
  width: calc(33.33% - 10px);
}

.bottom-desc-small {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

/*------- END FIND SPEC FORM BLOCK -------*/

/*------- INDUSTRIES BLOCK -------*/

.industries {
  margin-top: 80px;
}

.industries-wrap {
  display: flex;
  gap: 50px;
}
.industries-title-col {
  width: calc(50% - 25px);
}

.industries-blocks-col {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.industries-block {
  display: flex;
  align-items: flex-start;
  padding: 40px 40px 40px 40px;
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  height: 280px;
  min-width: 100%;
  border-radius: 10px;
  justify-content: center;
}

.industries-block:hover {
  cursor: pointer;
  box-shadow: none;
  background: #f6f6f6;
}

.block-violet {
  background-color: #4e3487;
}

.industries-block-title-white {
  color: #ffffff !important;
}
.industries-block:hover .industries-block-title {
  color: #4e3487;
  animation: fadeIn 1s;
}
.industries-block:hover .icon-arrow-right::before {
  color: #4e3487;
  bottom: -5px;
  position: relative;
}

.industries-block-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
  margin-top: auto;
  flex-basis: 79%;
}

.icon-and-arrow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100%;
}

.block-arrow {
  margin-top: auto;
  font-size: xx-large;
}

.block-arrow > .white-arrow {
  color: #ffffff;
}

.icon-calendar {
  font-size: 70px;
}

/*-------END INDUSTRIES BLOCK -------*/

/*------- VACANCIES BLOCK -------*/

.find-vacancies {
  margin-top: 80px;
}

.find-vacancies-wrap {
  display: flex;
  height: 370px;
  align-items: center;
  padding: 40px;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-top: 20px;
  gap: 80px;
}

.find-vacancies-right-block {
  width: calc(50% - 40px);
}

.find-vacancies-desc {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding-bottom: 20px;
}

.find-vacancy-form {
  display: flex;
  flex-direction: column;
}

.find-vacancy-field {
  margin-bottom: 20px;
  width: 100%;
}

.find-vacancy-btn {
  width: 100%;
}

.find-vacancies-right-image {
  width: calc(50% - 80px);
  border-radius: 10px;
  overflow: hidden;
}

.find-vacancies-right-image > img {
  height: 100%;
}

/*-------END VACANCIES BLOCK -------*/

/*-------NEW VACANCIES BLOCK -------*/

.new-vacancies-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.vacancy-block {
  width: calc(50% - 10px);
  padding: 40px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.vacancy-block:hover {
  cursor: pointer;
  box-shadow: none;
  background: #f6f6f6;
}

.vacancy-block:hover .vacancy-title {
  color: #4e3487;
  animation: fadeIn 1s;
}

.vacancy-block:hover .block-arrow {
  color: #4e3487;
  animation: fadeIn 1s;
}

.vacancy-block:nth-child(even) {
  margin-right: 0;
}
.vacancy-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
}

.vacancy-block-no-mrg {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.violet-btn {
  padding: 15px 45px;
  gap: 10px;
  width: 237px;
  height: 52px;
  background: #4e3487 !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.all-vacancies-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vacancy-block-btm-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.city-salary {
  display: flex;
  flex-direction: column;
}

.vacancy-location,
.vacancy-salary {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
  margin-bottom: 15px;
}

/*------- END NEW VACANCIES BLOCK -------*/

/*------- ACHIVEMENTS BLOCK -------*/

.achievements {
  margin-bottom: 80px;
  margin-top: 80px;
}

.achivements-wrap {
  display: flex;
  flex-direction: column;
  background: linear-gradient(79.84deg, #2e85aa -6.98%, #4e3487 105.43%);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  padding: 40px;
}
.achivements-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 26px;
}

.achivements-steps-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  align-items: baseline;
}
.achivements-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(33.33% - 20px);
}
.achiv-step-title {
  font-weight: 400;
  font-size: 80px;
  line-height: 98px;
  color: #ffffff;
}
.achiv-step-desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  word-break: break-word;
}
/*------- END ACHIVEMENTS BLOCK -------*/

/*------- PARTNERS BLOCK -------*/
.partners {
  margin-bottom: 80px;
}
.partner-blocks {
  display: flex;
  gap: 20px;
}

.partner-block {
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.partner-block:nth-child(even) {
  margin-right: 0;
}

.partner-logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.partner-logo {
  margin-right: 30px;
}

.partner-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
}

.partner-desc-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
}

.partners-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/*------- REVIEWS BLOCK -------*/

.reviews-blocks {
  display: flex;
  gap: 20px;
}

.reviews-block {
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
  width: calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.reviews-block:last-child {
  margin-right: 0;
}

.reviews-logo-title {
  display: flex;
  margin-bottom: 20px;
}

.customer-foto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.customer-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #272727;
}

.customer-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.customer-desc-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
  overflow: hidden;
}

/*------- END REVIEWS BLOCK -------*/
/*------- ARTICLES BLOCK -------*/

.articles {
  margin-top: 80px;
}
.articles-wrap {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

.article-block {
  width: calc(50% - 10px);
  padding: 40px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex-direction: column;
}

.article-block:hover {
  cursor: pointer;
  box-shadow: none;
  background: #f6f6f6;
}

.article-block:hover .article-title {
  color: #4e3487;
  animation: fadeIn 1s;
}

.article-block:hover .block-arrow {
  color: #4e3487;
  animation: fadeIn 1s;
}

.article-block:nth-child(even) {
  margin-right: 0;
}

.article-top-block {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.article-block-btm-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.article-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
  width: 80%;
}
.article-date {
  font-size: 14px;
}
.article-desc-wrap {
  width: 80%;
  margin-top: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
}

.all-article-btn-wrap {
  display: flex;
  justify-content: center;
}

/*------- END ARTICLES BLOCK -------*/

.footer {
  margin-top: 80px;
  padding: 0 20px 20px 20px;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #272727;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px 80px;
}

.footer-top-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-menu-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #555555;
}

.footer-menu-list {
  margin-top: 10px;
  margin-right: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer-menu-list > li {
  margin-bottom: 10px;
}

.footer-bottom-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-btm-left {
  display: flex;
  justify-content: space-between;
}

.footer-polices-texts {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 30px;
}

.footer-btn {
  margin-bottom: 20px;
}

.footer-social-item {
  font-size: 32px;
  color: white;
  margin-right: 19px;
}

/*SERVECE PAGE*/

.serv-slider {
  height: 260px;
  overflow: hidden;
}

.breadcrumbs-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f6f6f6;
  margin-bottom: 75px;
}
.serv-bg-img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 127px;
  width: 100%;
  height: 100%;
}

/* CONTENT PART */

.text-paragraf {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.text-par-second {
  display: flex;
  gap: 20px;
}

.left-part {
  max-width: 760px;
}

.sidebar-part {
  max-width: 380px;
  height: 426px;
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.columns-wrap {
  display: flex;
  gap: 20px;
}

.text-par-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

/*VIOLET INFO BANNER*/
.violet-info {
  margin: 20px 0 60px 0;
  padding: 60px 80px 30px 20px;
  gap: 20px;
  max-width: 780px;
  background: #4e3487;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.info-text-par {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f6f6f6;
}

/*INDUSTRIES SEARCH*/

.industries-search {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  padding: 20px;
  gap: 20px;
  border: 2px solid #4e3487;
  border-radius: 10px;
}

.industrie-search-lists {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.list-one {
  width: calc(45% - 10px);
}

.list-two {
  width: calc(55% - 10px);
}

.lists-item {
  padding: 2px 0;
}

.list-bullet {
  font-size: 10px;
  margin-right: 10px;
}
.leave-request {
  display: flex;
  max-width: 780px;
  gap: 20px;
  margin-top: 60px;
}

.bg-violet {
  display: flex;
  background: linear-gradient(90deg, #4e3487 0%, #2e85aa 100%);
  border-radius: 10px;
  padding: 30px 20px;
}

.leave-request-left {
  max-width: 50%;
  margin-top: 77px;
}

.leave-request-h1 {
  font-size: 32px;
  line-height: 38px;
}

.leave-request-right-image > img {
  width: calc(100% - 10px);
  height: 100%;
  border-radius: 10px;
}

.leave-request-button {
  margin-top: 20px;
}

.how-works-list {
  margin-top: 60px;
}

.how-works-item-block {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.number-violet {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  color: #4e3487;
  display: flex;
  align-items: center;
}

.how-works-item-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

/*TERMS BANNER*/
.terms-banner {
  margin-top: 60px;
  margin-bottom: 60px;
}

.terms-banner-block {
  padding: 30px 80px 30px 20px;
  gap: 20px;
  background: #f6f6f6;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.terms-banner-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.terms-banner-img {
  position: absolute;
  right: 20px;
  top: 30px;
  opacity: 0.2;
  font-size: 110px;
}

/*HOW MUTCH*/

.how-mutch-item {
  margin-bottom: 20px;
}
.how-mutch-title {
  color: #4e3487;
}

.how-mutch-desc-block {
  border-left: 2px solid #4e3487;
  padding: 0 20px;
  margin-top: 20px;
}
.strong-span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #272727;
  margin-bottom: 10px;
}

.span-text-small {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
}

/*benefits*/
.benefits {
  margin: 60px 0;
}
.benefits-item {
  margin-bottom: 20px;
}
.benefits-title {
  color: #4e3487;
}

.benefits-desc-block {
  padding: 0 20px;
  margin-top: 20px;
}
.strong-span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #272727;
  margin-bottom: 10px;
}

.span-text-small {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272727;
}

.benefit-strong-span {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
}

/*BANNER VIOLET*/

.banner-violet-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(90deg, #4e3487 0%, #2e85aa 100%);
  padding: 30px 80px 30px 20px;
  gap: 20px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.p-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #f6f6f6;
}

.price-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #f6f6f6;
}

.banner-violet-img {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 100px;
  color: #f6f6f6 !important;
  opacity: 0.2;
}

/*guarantees*/

.guarantees {
  margin-top: 60px;
  margin-bottom: 60px;
}

.guarantees-col {
  display: flex;
}

.guar-col {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.big-num {
  font-weight: 400;
  font-size: 80px;
  line-height: 98px;
  color: #4e3487;
}

.col-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

/*BANNER-INFO*/

.banner-info-block {
  background: #4e3487;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  align-items: flex-start;
  padding: 60px 80px 30px 20px;
  gap: 20px;
}

.banner-info-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #f6f6f6;
}
